<div class="flexCol contentCenter" >
  <div class="flexCol usuario contentCenter">
    <h1 style="background-color: rgba(0, 90, 128, 0.727); height: 300px;padding: 30px;">  ERROR EN LOGIN </h1>
    <a  class="boton" href="/login">Ir a Login</a>
  </div>
</div>


